{% extends 'index.html' %}

{% block content %}
<h2>{{ contents.community_id }}</h2>
<h3>Article</h3>
<ul>
	<p>(user)     {{ contents.author_id }}</p>
	<p>(title)    {{ contents.title }}</p>
	<p>(date)     {{ contents.written_on }}</p>
	<p>(contents) {{ contents.rich_txt }} </p>
	
</ul>

<a href="">|edit|</a>
<a href="">|delete|</a>

<h3>Comments</h3>
<ul>
	{% for comment in comments %}
	<p> (user)     {{ comment.user_id }}, (date) {{comment.written_on}}</p> 
	<p> (contents) {{ comment.rich_txt }}</p>
	<br>
	{% endfor %}
</ul>

<h3>Like(s)</h3>
<ul>
	{{ likes }}
</ul>
{% endblock %}
