{% extends 'index.html' %}

{% block content %}
<h2>{{ contents.community_id }}</h2>

<hr>
<h3>Article</h3>
<ul>
	<p>(user)     {{ contents.author_id }}</p>
	<p>(title)    {{ contents.title }}</p>
	<p>(date)     {{ contents.written_on }}</p>
	<p>(contents)<pre>{{ contents.rich_txt }}</pre></p>

<a href="/community/{{ community_name }}/" class="btn btn-primary">To the List</a>
<a href="/community/{{ community_name }}/write" class="btn btn-primary">Create a new post</a>
{% if request.user == contents.author_id %}
<a href="/community/{{ community_name }}/{{ article_pk }}/edit" class="btn btn-primary">Edit</a>
<a href="/community/{{ community_name }}/{{ article_pk }}/delete" class="btn btn-primary">Delete</a>	
{% else %}
{% endif %}
<p></p>

<hr>
<div class="like_section" style="text-align: left;margin-top:1%;">	
	<!-- <button id="like" type="button" onclick="loadDoc()" class="btn btn-primary">Change Content</button> -->	
	<form action="{% url 'like_article' article_pk %}" method="POST">
		{% csrf_token %}
		{% if liked %}
		<button type="submit" name="article_pk" value="{{ article_pk }}" class="btn btn-primary">
			Liked
		</button>
		{% else %}
		<button type="submit" name="article_pk" value="{{ article_pk }}" class="btn btn-secondary">
			Like
		</button>
		{% endif %}
	</form>
</div>

</ul>
<h3>Like(s)</h3>
<div id="likes">
	<ul>
		{{ likes }}
	</ul>
</div>

<hr>
<h3>Comments</h3>
<a href="/community/{{ community_name }}/{{ article_pk }}/reply#comment" class="btn btn-primary">Reply</a>
<br>
<p></p>
<ul>
	{% for comment in comments %}
	
	<p> (user)     {{ comment.user_id }}, (date) {{comment.written_on}}</p> 
	<p> (contents) <pre>{{ comment.rich_txt }}</pre></p>
	{% if request.user == comment.user_id %}
	<a href="/community/{{ community_name }}/{{ article_pk }}/edit_comment/{{ comment.pk }}/" class="btn btn-primary">Edit</a>
	<a href="/community/{{ community_name }}/{{ article_pk }}/delete_comment/{{ comment.pk }}/" class="btn btn-primary">Delete</a>
	<br><br>
	{% else %}
	<br>
	{% endif %}
	{% endfor %}
</ul>
<hr>
{% endblock %}