{% extends 'index.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<h2>{{ community_name }}</h2>
<hr>
<h3>Articles</h3>
<ul>
	{% for article, counter in pinned_context %}
	<li><a href="/community/{{ article.community_id }}/{{ article.pk }}">
		{{ article.title }}, {{ article.author_id }}, {{article.written_on}} [{{ counter }}]</a>
	</li>
	{% endfor %}	
</ul>
<ul>
	{% for article, counter in unpinned_context %}
	<li><a href="/community/{{ article.community_id }}/{{ article.pk }}">
		{{ article.title }}, {{ article.author_id }}, {{article.written_on}} [{{ counter }}]</a>
	</li>
	{% endfor %}
</ul>

<a href="/community/{{ community_name }}/write" class="btn btn-primary">Write</a>
{% endblock %}