<!DOCTYPE html>
<html>
<head>
	<title> FantasieBoard </title>
</head>
<body>
	<h1> Welcome on Board, Heroes! </h1>
	
	{% block content %}

	<p> We have here Heroes' shelter. </p>
		<p>Join your community. </p>
		<a href="/login" id="login">login here</a>
		<p>You don't have an account?</p>
		<a href="/register" id="register">register here</a>
	
	{% endblock %}
	
	<p></p>
	<a href="/" id="homepage">|home|</a>
	<a href="/community" id ="community">|community|</a>
	<!-- test url -->
	<a href="/profile/{{ request.user }}">|your profile| </a>
	<a href="{% url 'logout' %}">|Logout|</a>
</body>
</html>